@font-face {
    font-family: 'Roboto', BebasNeue;
    src: url(../fonts/BebasNeue.otf);
}

html { 
  margin:0;
  padding:0;
  height:100%;
}

/* Used on index / more pages */
body{
  /*background-image: url(../Images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  font-family: 'Roboto', sans-serif;
  font-size: 16;
  padding-top: 52px;
  margin:0;
  padding:0;
  height:100%;
}

.content {
  padding-top: 52px;
  background: #fff;
  min-height: 100%;
  padding-bottom: 200px;
}

.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin:20px 0;
}

.btn-fab {
  background-color: #9a1e1e;
  position: fixed;
  z-index: 69;
  top: 90%;
  right: 3%;
  border:none;
  font-size:1.5em;
  color:white;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin: auto;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
     -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
          box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.no-padding {
  padding: 0;
}

.btn-fab-icon {
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

.btn-fab:hover {
  background-color: #881c1c;
}

/*------------------------------ */
/* ----- Headers ------ */
/*------------------------------ */

h2 {
  font-size: 350%;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #9a1e1e;
  content: " ";
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*------------------------------ */
/* ----- Nav ------ */
/*------------------------------ */
nav.navbar-findcond { 
  background: #9a1e1e; 
  border-color: #ccc; 
  box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar-findcond a { color: #fff; }
nav.navbar-findcond ul.navbar-nav a
{ color: #fff; 
  border-style: solid; 
  border-width: 0 0 3px 0; 
  border-color: #9a1e1e; 
}

nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #9a1e1e; }

nav.navbar-findcond ul.navbar-nav a.active,
nav.navbar-findcond ul.navbar-nav a:hover { 
  background: #9a1e1e;
  border-color: #fff;
  -webkit-transition: border-color 0.7s;
  transition: border-color 0.7s;
}

nav.navbar-findcond ul.navbar-nav .foreningsLink.active,
nav.navbar-findcond ul.navbar-nav .foreningsLink:focus {
  border: none;
}

nav.navbar-findcond li.divider { background: #ccc; }

nav.navbar-findcond button.navbar-toggle { 
  background: #881c1c; 
  border-radius: 2px; 
}
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }

nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }

nav.navbar-findcond ul.dropdown-menu { 
  border: 0; 
  background: #9a1e1e; 
  border-radius: 4px; 
  margin: 4px 0; 
  box-shadow: 0 0 4px 0 #ccc;
  height: auto;
}

nav.navbar-findcond ul.dropdown-menu a{ 
  border: 0; 
}

nav.navbar-findcond ul.dropdown-menu > li > a { 
  color: #fff;
}

nav.navbar-findcond ul.dropdown-menu li {
  color: #fff;
  border-bottom: 1px solid #800808;
}

nav.navbar-findcond ul.dropdown-menu li:last-child{
  color: #fff;
  border-bottom: none;
}

nav.navbar-findcond ul.dropdown-menu > li > a:hover { 
  background: #881c1c; 
  color: #fff; 
}

/*------------------------------ */
/* ----- Footer ------ */
/*------------------------------ */
.footer {
  border-top: 4px solid #9a1e1e;
  box-shadow: 0 0 4px 0 #ccc;
  min-height: 200px;
  background: #1c1b1b;
  text-align: center;
  color: #adadad;
  clear: both;
  margin-top: -200px;
  padding-top: 0;
  position: relative;
  width: 100%;
}

.footer-ul {
  list-style: none;
  padding: 0;
}

.footer-li-header {
  margin-top: 20px;
  font-size: 175%;

}

.footer-li-header:after {
  display: block;
  height: 2px;
  background-color: #9a1e1e;
  content: " ";
  width: 75px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-li-link {
  color: #adadad;
}

.footer-li-link:hover,
.footer-li-link:active {
  text-decoration: none;
  color: #e0e0e0;
  cursor: pointer;
}

.footer-li-link:focus,
.footer-li-link:visited {
  text-decoration: none;
  color: #adadad;
  cursor: pointer;
}

/*------------------------------ */
/* ----- Kontakt ------ */
/*------------------------------ */
md-content {
  background: #fff;
}

#kontakt-form {
  margin-bottom: 50px;
  background: #fff;
}

.btn-kontakt {
  background: #9a1e1e;
  margin-bottom: 10px;
  color: #fff;
}

.btn-kontakt:active,
.btn-kontakt:hover {
  background: #881c1c;
  text-decoration: none;
  color: #fff;
}

.btn-kontakt:focus,
.btn-kontakt:visited {
  color: #fff;
  text-decoration: none;
}

.toolbar h1 {
  color: #9a1e1e;
  font-size: 175%;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 64px;
  max-height: 64px;
  padding: 0 16px;
  margin: 0;
}

.toolbar {
  width: 100%;
}

.toolbar:after {
  display: block;
  height: 2px;
  background-color: #9a1e1e;
  content: " ";
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

#kontakt-info-ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

#kontakt-info-box {
  padding-left: 0;
}

.kontakt-info-li {
  color: #000;
}

.kontakt-info-li-header {
  color: #9a1e1e;
  font-size: 115%;
  font-weight: 700;
}

#kontakt-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
}

#kontakt-text {
  color: #000;
  font-weight: 700;
  font-size: 110%;
}


/*------------------------------ */
/* ----- Sponsorer ------ */
/*------------------------------ */
#sponsor-container {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.sponsor-box{
  text-align: center;
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
}

.sponsors{
  margin: 10px;
  border-radius: 10px;
  height: 80px;
  width: 240px;
}

/*------------------------------ */
/* ----- Galleri ------ */
/*------------------------------ */
.galleri-container {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.galleri-header {
  color: #000;
  font-size: 125%;
  display: inline-block;
}

.galleri-forfatter {
  color: #000;
  font-size: 90%;
  margin-top: -10px;
  margin-left: 5px;
  display: block;
}

.galleri-icon {
  font-size: 200%;
  color: #9a1e1e;
  float: right;
  display: inline-block;
  margin-top: 12px;
}

.galleri-link:hover,
.galleri-link:active{
  text-decoration: none;
  color: #fff;
}

/*------------------------------ */
/* ----- ButtonSheet ------ */
/*------------------------------ */
.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }

.bottomSheetdemoBasicUsage .md-grid-item-content {
  height: 90px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
  height: 48px;
  width: 48px; }

.bottomSheetdemoBasicUsage .md-grid-text {
  padding-bottom: 5px; }

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
  min-height: 48px; }

.bottomSheetdemoBasicUsage h2 {
  line-height: 36px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
  padding: 0; }

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
  background-color: #B14141; }

.bottomSheetdemoBasicUsage md-toast > * {
  font-weight: bolder; }

.btn-grid-icon {
  font-size: 48px;
}

/*------------------------------ */
/* ----- Nyheder ------ */
/*------------------------------ */
.nyheder-img {
  height: 242px;
  width: auto;
}

/*------------------------------ */
/* ----- Nyhed ------ */
/*------------------------------ */
.Nyhed-forfatter {
  color: #919191;
  font-style: italic;
  margin-left: 10px;
}

.Nyhed-img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.Nyhed-boks {
  padding: 0 20px;
  padding-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  margin-bottom: 20px;
}

/*------------------------------ */
/* ----- Foreninger ------ */
/*------------------------------ */

/* Boldklubben */
#BK-boks {
  
}

/* Hallen */
#hallen-info {
  
}

#hallen-imgs {
  margin: 0 auto;
  text-align: center;
}

#hallen-imgs:last-child {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.hallen-img {
  border: 1px solid #767676;
  border-radius: 4px;
  height: auto;
  width: auto;
  max-width: 250px;
  margin: 5px;
}

/* Lokalarkiv */
.la-ul {
  list-style: none;
  padding: 0;
}

.la-li-header {
  font-size: 120%;
  font-weight: 700;
}

.la-li a{
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #fff;
}

.la-li a:visited,
.la-li a:focus {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #fff;
}

#la-img {
  border: 1px solid #767676;
  border-radius: 4px;
  margin-bottom: 10px;
}

.la-li a:hover {
  border-bottom: 1px solid #9a1e1e;
}

/* Boldklubben Bowls */
.bowls-img-container {
  text-align: center;
  margin-bottom: 30px;
}

#bowls-ul {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

#bowls-li-header {
  font-size: 120%;
  font-weight: 700;
}

.bowls-img {
  border: 1px solid #767676;
  border-radius: 4px;
  width: auto;
}

/* Boldklubben Træningstider */
#traningstider-img-boks {
  text-align: center;
  margin-bottom: 30px;
}

.traningstider-logo-boks {
  text-align: center;
}

#traningstider-info {
  font-weight: 700;
  font-size: 110%;
  margin-bottom: 20px;
}

/* Boldklubben Bestyrelse */
.bestyrelse-boks {
  margin-bottom: 20px;
}

.bestyrelse-navn {
  font-size: 120%;
  font-weight: 700;
  margin-bottom: 0;
}

.bestyrelse-titel {
  font-weight: 700;
  font-size: 120%; 
}

/* FDF */

.FDF-link {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #fff;
}

.FDF-link:hover {
  border-bottom: 1px solid #9a1e1e;
  text-decoration: none;
  color: #000;
}

.FDF-link:visited,
.FDF-link:focus {
  text-decoration: none;
  color: #000;
}

/*------------------------------ */
/* ----- Udlejning ------ */
/*------------------------------ */
.udlejning-tekst {
  
}

.udlejning-ul {
  list-style: none;
  padding: 0;
}

.udlejning-info {
  font-weight: 700;
}

.udlejning-info:last-child:after {
  display: block;
  height: 2px;
  background-color: #9a1e1e;
  content: " ";
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.udlejning-thumbnail {
  width: 100%;
  margin: 0;
  overflow: hidden;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  margin-bottom: 20px;
  display: block;
  background-color: #000;
}

.udlejning-img{
  width: 100%;
  height: 137px;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.udlejning-img:hover {
  opacity: 1;
}

/*
.udlejning-thumbnail {
  width: auto;
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  border: 1px solid #000000;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}*/


/* Small seized screen */
@media only screen and (min-width: 150px) and (max-width: 767px){
    
  .sponsors{
    margin: 10px 0px;
    width: 80%;
  }

  .sponsorbox{
    text-align: center;
    padding: 0;
    border-top: 0px solid #cecece;
  }
  
  #la-img {
    max-width: 250px;
    height: auto;
  }
  
  .bowls-img {
    max-width: 250px;
    height: auto;
  }
    
  nav.navbar-findcond ul.dropdown-menu ul {
    margin-bottom: 0;
  }
  
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: none;}
  
  nav.navbar-findcond ul.navbar-nav a.active,
  nav.navbar-findcond ul.navbar-nav a:hover { 
    border-color: #9a1e1e;
    background: #881c1c; 
    transition: none;
  }
}

