<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12" id="BK-boks">
    <h2>Klinkby Boldklub</h2>
    <div ng-cloak>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Boldklubben">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab One</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
          </md-tab>
          <md-tab label="Bowls">
            <md-content class="md-padding">
              <h1 class="md-display-2">Bowls</h1>
              <div class="col-md-12 no-padding">
                <p>
                  Kom og være med hver tirsdag fra 09.30 til 12.00 i Klinkby Alt-i-Èt huset.<br>
                  Første tirsdag i hver måned start vi kl. 9.00 med kaffe og rundstykker.<br>
                  Bowls er en "svedefri" men spændende sport, som er sjov for folk i alle aldre.
                </p>

                <p>Dine første to gange du prøver bowls, er det helt gratis.</p>
                <p>Prisen for en sæson, som strækker sig fra september til maj, er 500kr.</p>

                <ul id="bowls-ul">
                  <li id="bowls-li-header">Bowls udvalget</li>
                  <li class="bowls-li">Erling Melton - 20 43 20 42</li>
                  <li class="bowls-li">Lise Nielsen - 21 21 47 70</li>
                  <li class="bowls-li">Jens O. Hyldgaard - 22 24 63 31</li>
                </ul>
              </div>
              <div class="col-md-12">
                <div class="col-md-6 col-xs-12 bowls-img-container no-padding">
                  <img src="Images/Foreninger/kb-bowls1.jpg" class="bowls-img">
                </div>
                <div class="col-md-6 col-xs-12 bowls-img-container no-padding">
                  <img src="Images/Foreninger/kb-bowls2.jpg" class="bowls-img">
                </div>
              </div>
              <div class="col-md-12 bowls-img-container">
                <img src="Images/Foreninger/kb-bowls3.jpg" class="bowls-img">
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Træningstider">
            <md-content class="md-padding">
              <h1 class="md-display-2">Træningstider</h1>
              <div class="col-md-12 no-padding" id="traningstider-img-boks">
                <img src="Images/Foreninger/træningstider.jpg" id="traningstider-img">
              </div>
              <div class="col-md-12 no-padding">
                <div class="col-md-3 no-padding traningstider-logo-boks">
                  <img src="Images/Foreninger/træningstider-kb.png" class="traningstider-logo">
                </div>
                <div class="col-md-6 no-padding">
                  <p>Træningsopstart i RLK(Ramme-Lomborg-Klinkby)</p>
                  <p>
                    U10 - U15 træner man - ons, 16.45 - 18.00<br>
                    U15 drenge træner man - ons, 18.00 - 19.15<br>
                    U10 - U15 starter mandag d. 01/08-2016 i Klinkby og onsdag i Ramme
                  </p>
                  <p>
                    U5 - U9 start d. 08/08-2016<br>
                    Træner kun i Klinkby om mandag 16.45 - 17-45
                  </p>
                </div>
                <div class="col-md-3 no-padding traningstider-logo-boks">
                  <img src="Images/Foreninger/træningstider-rlif.png" class="traningstider-logo">
                </div>
              </div>
              <div class="col-md-12 no-padding">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tr>
                      <th>Hold</th>
                      <th>Trænere</th>
                    </tr>
                    <tr>
                      <td>U5 - U6 (2011-2012)</td>
                      <td>Steffen Kristensen, Flemming Hansen, Heidi A, Mette Riis Hansen</td>
                    </tr>
                    <tr>
                      <td>U7 - U7 (2009-2010)</td>
                      <td>Kasper M, Johannes J, Troels L, Henrik Sørensen</td>
                    </tr>
                    <tr>
                      <td>U9 Piger (2008)</td>
                      <td>Hanne L, Aksel S</td>
                    </tr>
                    <tr>
                      <td>U9 Drenge (2008)</td>
                      <td>Jesper Borup + Ungleder</td>
                    </tr>
                    <tr>
                      <td>U11 Piger (2006)</td>
                      <td>Linda Kjærgård + Ungleder</td>
                    </tr>
                    <tr>
                      <td>U10 Drenge (2007)</td>
                      <td>Esper A, Paw R</td>
                    </tr>
                    <tr>
                      <td>U11 Drenge (2006)</td>
                      <td>Per Madsen + Hjælper</td>
                    </tr>
                    <tr>
                      <td>U13 Piger (2004)</td>
                      <td>Line Lind, Niels Erik Madsen</td>
                    </tr>
                    <tr>
                      <td>U12 Drenge (2005)</td>
                      <td>Esper A</td>
                    </tr>
                    <tr>
                      <td>U13 Drenge (2004)</td>
                      <td>Michael J, Elsebeth A</td>
                    </tr>
                    <tr>
                      <td>U14 Drenge (2003)</td>
                      <td>Søren M, Klaus P</td>
                    </tr>
                    <tr>
                      <td>U15 Drenge (2002)</td>
                      <td>Niels Kristian</td>
                    </tr>
                    <tr>
                      <td>U15 Piger (2002)</td>
                      <td>Johnny S, Ebbe Mollerup</td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-12 text-center" id="traningstider-info">
                  Ved spørgsmål kontakt Esper A - 22 51 90 29 eller Casper B. Poulsen - 24 93 27 29
                </div>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Tilmelding">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Three</h1>
              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
          </md-tab>
          <md-tab label="Bestyrelse">
            <md-content class="md-padding">
              <h1 class="md-display-2">Bestyrelse</h1>
              <div class="col-md-6 col-xs-12">
                <p class="bestyrelse-navn">Finn Haagensen</p>
                <p class="bestyrelse-titel">Formand + Badminton udvalg</p>
                <p>
                  Telefon - 97 83 61 03<br>
                  Mail - fbhaagensen@mail.dk
                </p>
              </div>
              <div class="col-md-6 col-xs-12 bestyrelse-boks">
                <p class="bestyrelse-navn">Christina Krarup</p>
                <p class="bestyrelse-titel">Kasserer</p>
                <p>
                  Telefon - 30 63 60 65<br>
                  Mail - christinaraundahlkrarup@hotmail.com
                </p>
              </div>
              <div class="col-md-6 col-xs-12 bestyrelse-boks">
                <p class="bestyrelse-navn">Viggo Lyng</p>
                <p class="bestyrelse-titel">Fodbold udvalg</p>
                <p>
                  Telefon - 24 87 48 66<br>
                  Mail - viggolyng@mail.dk
                </p>
              </div>
              <div class="col-md-6 col-xs-12 bestyrelse-boks">
                <p class="bestyrelse-navn">Charlotte Roed Lind</p>
                <p class="bestyrelse-titel">Håndbold udvalg</p>
                <p>
                  Telefon - 97 89 52 24<br>
                  Mail - roedlind@hotmail.com
                </p>
              </div>
              <div class="col-md-6 col-xs-12 bestyrelse-boks">
                <p class="bestyrelse-navn">Anna Kjærgaard</p>
                <p class="bestyrelse-titel">Bestyrelses medlem</p>
                <p>
                  Telefon - 20 77 99 56<br>
                  Mail - kjaergaard.anna@gmail.com
                </p>
              </div>
              <div class="col-md-6 col-xs-12 bestyrelse-boks">
                <p class="bestyrelse-navn">Gitte Jacobsen</p>
                <p class="bestyrelse-titel">Bestyrelses medlem</p>
                <p>
                  Telefon - 24 43 44 96<br>
                  Mail - tinghus@hnhc.dk
                </p>
              </div>
              <div class="col-md-6 col-xs-12 bestyrelse-boks">
                <p class="bestyrelse-navn">Paw Skov Ruby</p>
                <p class="bestyrelse-titel">Bestyrelses medlem</p>
                <p>
                  Telefon - 29 63 85 27<br>
                  Mail - bette.toelbjerg@gmail.com
                </p>
              </div>
              <div class="col-md-6 col-xs-12 bestyrelse-boks">
                <p class="bestyrelse-navn">Esper Agger</p>
                <p class="bestyrelse-titel">Bestyrelses medlem</p>
                <p>
                  Telefon - 22 51 90 29<br>
                  Mail - 4agger@gmail.com
                </p>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>