<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12" id="BK-boks">
    <h2>Klinkby FDF</h2>
    <p>Se mere om Klinkby FDF på deres hjemmeside <a href="http://klinkby.kredscms.dk/" class="FDF-link" target="_blank">her</a>.</p>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="FDF" href="Images/Foreninger/FDF1.jpg">
        <img src="Images/Foreninger/FDF1.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="FDF" href="Images/Foreninger/FDF2.jpg">
        <img src="Images/Foreninger/FDF2.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="FDF" href="Images/Foreninger/FDF3.jpg">
        <img src="Images/Foreninger/FDF3.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="FDF" href="Images/Foreninger/FDF4.jpg">
        <img src="Images/Foreninger/FDF4.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="FDF" href="Images/Foreninger/FDF5.jpg">
        <img src="Images/Foreninger/FDF5.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="FDF" href="Images/Foreninger/FDF6.jpg">
        <img src="Images/Foreninger/FDF6.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="FDF" href="Images/Foreninger/FDF7.jpg">
        <img src="Images/Foreninger/FDF7.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
  </div>
</div>