<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <h2>Klinkby Gymnastikforening</h2>
    <p>Se mere om Klinkby Gymnastikforening på deres hjemmeside <a href="http://klinkbygymnastikforening.dk/" class="FDF-link" target="_blank">her</a>.</p>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="GF" href="Images/Foreninger/gf1.jpg">
        <img src="Images/Foreninger/gf1.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="GF" href="Images/Foreninger/gf2.jpg">
        <img src="Images/Foreninger/gf2.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="GF" href="Images/Foreninger/gf3.jpg">
        <img src="Images/Foreninger/gf3.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="GF" href="Images/Foreninger/gf4.jpg">
        <img src="Images/Foreninger/gf4.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
  </div>
</div>