<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <h2>Klinkby Hallen</h2>
    <div id="hallen-info">
      <p>Klinkby Hallen blev bygget i 1984 og har i de sidste godt 30 år været det naturlige samlingssted for indendørs sportsaktiviteter. Der er idag stor aktivitet i Hallen, hvor der spilles bl.a håndbold, fodbold, badmintion, hockey og dyrkes masser af gymnastik.</p>
    
      <p>I 2014 blev Alt I Et huset indviet. Klinkby Hallen byggede, med fantastisk stor opbakning fra alle lokale foreninger, Klinkby skole, Menighedsrådet, det der i dag kaldes Alt I Et huset i Klinkby. At etablere dette fantastike nye hus kunne alene lade sig gøre fordi der var bred opbakning blandet alle lokale foreninger og fordi helt utrolig mange frivillige ville hjælpe til med projektet.</p>

      <p>Ved den nye tilbygning fik vi etableret en superflot og moderne festsal med stor tilhørende køkken. Festsalen udlejes og billeder af salen kan ses under udlejning.</p>

      <p>Sammenholdet i oplandet til Klinkby Hallen har altid været den bærende del for at det igennem alle årene har lykkedes at have aktivitet og en økonomi der gør at vi stadig kan byde på et meget bredt udvalg af aktiviteter.</p>

      <p>Vi har stadig en fantastik opbakning og håber på at vi i mange år fremover kan være det naturlige samlingspunkt for såvel helt unge som ældre mennesker som ønsker at dyrke motion, afholde fester.
      Vi glæder os til at se dig i Klinkby Hallen</p>
    </div>
    <div id="hallen-imgs">
      <img class="hallen-img" src="../Images/Foreninger/Klinkbyhal1.jpg">
      <img class="hallen-img" src="../Images/Foreninger/Klinkbyhal2.jpg">
    </div>
    <div id="hallen-imgs">
      <img class="hallen-img" src="../Images/Foreninger/Klinkbyhal3.jpg">
      <img class="hallen-img" src="../Images/Foreninger/Klinkbyhal4.jpg">
    </div>
  </div>
</div>