<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <h2>Klinkby Lokal Arkiv</h2>
    <div class="col-md-6 col-sm-6 col-xs-12 la-info">
      <ul class="la-ul">
        <li class="la-li-header">Adresse</li>
        <li class="la-li">Klinkby Lokalarkiv</li>
        <li class="la-li">Klinkbyvænget 1, Klinkby</li>
        <li class="la-li">7620 Lemvig</li>
      </ul>
      <ul class="la-ul">
        <li class="la-li-header">Email</li>
        <li class="la-li">Klinkbyarkiv@gmail.com</li>
      </ul>
      <ul class="la-ul">
        <li class="la-li-header">Åbningstid</li>
        <li class="la-li">Onsdag 14.00-17.00</li>
      </ul>
      <ul class="la-ul">
        <li class="la-li-header">Kontakt person</li>
        <li class="la-li">Ib Noe</li>
        <li class="la-li">Thyborønvej 5, Klinkby</li>
        <li class="la-li">7620 Lemvig</li>
        <li class="la-li">97 83 65 43</li>
        <li class="la-li">ibnoe@dlgtele.dk</li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 la-img-links">

        <img id="la-img" src="Images/Foreninger/la.jpg" />

        <ul class="la-ul">
          <li class="la-li-header">Links</li>
          <li class="la-li"><a href="http://lemvighistorie.dk/">Lemvig historie</a></li>
          <li class="la-li"><a href="http://sa.dk/">Rigsarkivet</a></li>
          <li class="la-li"><a href="http://ddd.dda.dk/">Dansk Demografisk Database</a></li>
        </ul>

    </div>
    
  </div>
</div>