<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12" id="BK-boks">
    <h2>Menighedsråd</h2>
    <p>Se mere om menighedsrådet på deres hjemmeside <a href="http://hht.nu/" class="FDF-link" target="_blank">her</a>.</p>
    <div class="col-xs-12 col-md-4 text-center">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="GF" href="Images/Foreninger/kirke1.jpg">
        <img src="Images/Foreninger/kirke1.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="GF" href="Images/Foreninger/kirke2.jpg">
        <img src="Images/Foreninger/kirke2.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
    <div class="col-xs-12 col-md-4 text-center">
      <a class="fancybox udlejning-thumbnail md-whiteframe-10dp" rel="GF" href="Images/Foreninger/kirke3.jpg">
        <img src="Images/Foreninger/kirke3.jpg" class="udlejning-img" alt="..." />
      </a>
    </div>
  </div>
</div>