<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <h2>Tilføj ny nyhed</h2>
    <form ng-submit="createNyhed(nyhedTitel, nyhedTekst, nyhedForfatter)">
      <md-content>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Titel</label>
          <input ng-model="nyhedTitel">
        </md-input-container>
        <!-- Der mangler at kunne sætte nyheds billedet -->
        <md-input-container class="md-block" flex-gt-sm>
          <label>Vælg en forfatter</label>
          <md-select ng-model="nyhedForfatter">
            <md-option value="Klinkby Hallen">Klinkby Hallen</md-option>
            <md-option value="Klinkby Boldklub">Klinkby Boldklub</md-option>
            <md-option value="Familie og Samfund Klinkby">Familie og Samfund Klinkby</md-option>
            <md-option value="Klinkby Gymnastikforening">Klinkby Gymnastikforening</md-option>
            <md-option value="Klinkby Borgerforening">Klinkby Borgerforening</md-option>
            <md-option value="Klinkby FDF">Klinkby FDF</md-option>
            <md-option value="Klinkby Skole">Klinkby Skole</md-option>
            <md-option value="Lokal Arkiv">Lokal Arkiv</md-option>
            <md-option value="Meninghedsråd">Meninghedsråd</md-option>
            <md-option value="Fællesspisning">Fællesspisning</md-option>
            <md-option value="Revy">Revy</md-option>
          </md-select>
        </md-input-container>
        <textarea name="nyhedseditor" ng-model="nyhedTekst" id="nyhedsEditor"></textarea>
        <!--<script type="text/javascript">
          CKEDITOR.replace('nyhedseditor');
        </script>-->
      </md-content>
      <button class="btn btn-lg btn-success" id="btn-upload" type="submit">Opret nyhed</button>
    </form>
  </div>
</div>