<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="table-responsive">
      <h2>Gallerier</h2>
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Navn</th>
          <th>Dato</th>
          <th>Redigér</th>
          <th>Slet</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Fredagssjov</td>
          <td>13/10-2016</td>
          <td><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></td>
          <td><button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
      </table>
    </div>
  </div>
</div>