<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 Nyhed-boks">
    <h2>Titelen på nyheden</h2>
    <p class="Nyhed-forfatter">- Navnet på forfatteren</p>
    <img class="Nyhed-img" src="Images/yoga.jpg" />
    <p class="Nyhed-tekst">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor massa ac pharetra tempus. Nullam semper orci sollicitudin massa tristique, ut sollicitudin libero tincidunt. Fusce ut tortor non sem vulputate ullamcorper ut ac dolor. Sed efficitur, augue vel pellentesque egestas, ipsum elit venenatis est, non varius sapien diam nec enim. Mauris tincidunt eget urna nec cursus. Vestibulum eros purus, laoreet non tincidunt non, luctus nec magna. Ut ac elit nisl. Pellentesque eget volutpat eros. Proin eu tincidunt ex, quis aliquet mauris. Duis ut velit tortor. Sed volutpat malesuada tortor. Cras quis hendrerit magna. Nulla at ipsum nec leo eleifend venenatis sed in libero. Suspendisse libero nisl, vulputate a fringilla quis, fringilla ac diam.
    </p>
    <p class="Nyhed-tekst">
      Nullam egestas tortor et ipsum porttitor blandit. Aliquam varius commodo ligula faucibus pharetra. In hac habitasse platea dictumst. Phasellus volutpat mollis blandit. Aliquam porta ex sed velit vestibulum, nec convallis neque ultrices. Donec pulvinar faucibus rhoncus. Etiam sit amet dapibus est. Nam id ipsum aliquam, interdum ipsum id, porta massa. Pellentesque pretium, elit a gravida lobortis, lectus nulla porta urna, vitae eleifend ligula est a felis. Quisque ac leo eu quam volutpat finibus eu eleifend lorem. Ut ultrices commodo tellus. Etiam vitae felis viverra, mollis urna euismod, blandit risus. Phasellus facilisis erat sed diam imperdiet, in laoreet massa ullamcorper.
    </p>
    <p class="Nyhed-tekst">
      Nullam egestas tortor et ipsum porttitor blandit. Aliquam varius commodo ligula faucibus pharetra. In hac habitasse platea dictumst. Phasellus volutpat mollis blandit. Aliquam porta ex sed velit vestibulum, nec convallis neque ultrices. Donec pulvinar faucibus rhoncus. Etiam sit amet dapibus est. Nam id ipsum aliquam, interdum ipsum id, porta massa. Pellentesque pretium, elit a gravida lobortis, lectus nulla porta urna, vitae eleifend ligula est a felis. Quisque ac leo eu quam volutpat finibus eu eleifend lorem. Ut ultrices commodo tellus. Etiam vitae felis viverra, mollis urna euismod, blandit risus. Phasellus facilisis erat sed diam imperdiet, in laoreet massa ullamcorper.
    </p>
  </div>
</div>


<!--
<div class="row">
    <h1> {{Nyhed.Titel}} </h1>
    <p>Skrevet af: {{Nyhed.Forfatter}} </p>
    <p> Dato: {{Nyhed.Dato | date:"medium"}} </p>
    <hr />
    <p>{{Nyhed.Tekst}}</p>
    <button type="button" ng-click="gotoUpdateNyhed()"> Rediger </button>
    <button type="button" ng-click="deleteNyhed()"> Slet </button>
    <button type="button" ng-click="gotoNyheder()"> Nyheder </button>
</div>
-->